@import 'src/styles/constants/styleConst.scss';
.root
{
  svg
  {

    opacity: $opacity-svg;

    &:hover
    {
      opacity: 1;
      transition: $transition-sec-svg;
      fill: #6494ee !important;

    }
  }
}