@import 'src/styles/constants/styleConst.scss';

.root
{
  svg
  {

    opacity: $opacity-svg;

    path
    {
      color: #70AC61 !important;
    }

    &:hover
    {
      opacity: 1;
      transition: $transition-sec-svg;

    }
  }
}