@import 'src/styles/constants/styleConst.scss';
.root
{
  svg
  {
    opacity: $opacity-svg;

    &:hover
    {
      opacity: 1;

      rect, path
      {
        color: fuchsia !important;
        transition: $transition-sec-svg;

      }
    }
  }
}
