@import 'src/styles/constants/styleConst.scss';
.root
{
  svg
  {
    fill: #3B5998 !important;
    opacity: $opacity-svg;

    &:hover
    {
      opacity: 1;
      transition: $transition-sec-svg;
    }
  }
}